#offers a {
    text-decoration: inherit;
    color: inherit;
    transition: opacity 300ms ease-in;
}

#offers a.htmx-settling {
    opacity: 0;
}

#offers article {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
}

.htmx-indicator {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3rem;
}

