#offers {
    margin: auto;
    max-width: 90%;
    width: 1800px;
    display: grid;
    gap: 0px 32px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

#offers > article {
    margin-bottom: 32px;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
}


