main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

section {
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  border-radius: var(--radius);
}

#chats-list {
  max-width: 250px;
  width: 100%;
}

#message-box {
  flex: 1;
}
