#counter-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.edit-indicator {
  display: none;
  color: var(--accent);
  font-feature-settings: 'case';
  scale: 2;
}

.edit-indicator.show {
  display: inline-block;
}

